



.pointing-dialog {
    position: absolute;
    z-index: 1000;
    width: 200px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    display: none; /* Hidden by default */
}
.fc-content:hover {
    filter: brightness(715%);
    cursor: pointer;
    -webkit-filter: brightness(715%);
}
.pointing-dialog::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: #ccc transparent transparent transparent;
}

.pointing-dialog-content {
    margin: 5px;
}
.btn-custom-width {
    align-items: center;
    min-width: 100px; /* Ensures button does not shrink below this width */
    width: 100px; /* Sets a fixed width for consistency */
    padding: .375rem .75rem; /* Adjust padding if necessary, this is Bootstrap's default for btn-sm */
    white-space: nowrap; /* Prevents text from wrapping */
    overflow: hidden; /* Keeps the content from overflowing */
    text-overflow: ellipsis; /* Adds an ellipsis if the text overflows */
      display: flex;
    justify-content: center; /* Centers the buttons horizontally */
    align-items: center; /* Aligns the buttons vertically, useful if they are in a flex container with flex-direction: column; */
    flex-direction: row; /* Ensures the buttons are laid out in a row */
    gap: 10px;
}
.fc-toolbar h2 {
        font-size: 24px; /* Larger font size for the title */
        color: #333333; /* Darker color for the title */
    }

.center-parent-calendar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh; /* Adjust or remove min-height as needed */
}

 .calendar {
        background-color: #ffffff; /* White background for better contrast */
        border: 1px solid #dddddd; /* Light grey border for better visibility */
        border-radius: 5px; /* Slightly rounded corners */
        padding: 20px; /* Some padding around the calendar */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Subtle shadow for a lifted effect */
    }
.fc-day-header {
    background-color: #4d576c; /* Your desired header background color */
    color: #fff; /* Your desired text color */
    padding: 8px !important; /* Increase left padding */
    padding-right: 10px; /* Increase right padding */

}

.fc-unthemed td.fc-today .fc-day-number {
    position: relative; /* Ensure the .fc-day-number is positioned relatively */
    color: white !important; /* Text color */
    /* padding: 12px 2px 2px 10px; */
    z-index: 2; /* Ensure text is above the pseudo-element */
    /* Add background color for better visibility */
}

.fc-unthemed td.fc-today .fc-day-number::after {
    content: "";
    position: absolute;
    left: -5px; /* Shift to the left */
    top: 0;
    width: calc(20% + 10px); /* Adjust width to compensate for the shift */
    height: 100%;

    background-color: #F15E6E;
    z-index: -1;
    box-sizing: border-box;
    border-radius: 6px;
}

span.fc-day-number {
    font-family: "Roboto", sans-serif; /* Ensures Roboto is used, with a generic sans-serif as a fallback */
    color: #4D5782; /* Sets the color to a light grey */
    text-align: left; /* Aligns the text to the left */
    display: block; /* Makes span behave like a block element, allowing text-align to work */
    width: 90%; /* Ensures the span takes the full width of its container */
    font-size: 16px; /* Sets the font size to 16px */
    font-weight: bold; /* Makes the text bold */
}

.fc-button {
    transition: background-color 0.3s ease, box-shadow 0.2s ease; /* Smooth transition for background and shadow */
    border: none; /* Removes border for a cleaner look */
    color: #fff; /* Ensures text color is white for better contrast */
    padding: 10px 20px; /* Adjust padding for a better button size */
    border-radius: 5px; /* Adds rounded corners */

}
td.fc-day {
    margin: 2px; /* Adds a small margin around each day cell */
    border: 1px solid #ffffff; /* Adds a thin border with a light grey color */
    box-shadow: 0 1px 1 px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow for depth */
}
.fc-button:hover{
    background-color: 	#022954 !important; /* Adjusted to orange color */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adds shadow for depth */
    color: #fff !important; /* Keeps text color white for readability */
    z-index: -2x    ;
}
.fc-button {
    position: relative; /* Needed for absolute positioning of pseudo-element */
    overflow: hidden; /* Ensures the pseudo-element does not overflow the button */
}

.fc-button::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:	#022954;
    transition: opacity 1s ease;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: opacity 1s ease;
    -moz-transition: opacity 1s ease;
    -ms-transition: opacity 1s ease;
    -o-transition: opacity 1s ease;
}
.fc-button:active::after {
    opacity: 1; /* Becomes fully opaque when button is clicked */
}
#sidebar {
    width: 250px; /* Adjust based on your design */
    overflow: auto; /* Enables scrolling if content overflows */
}
.fc-more {
    color: red !important;
}


.sidebar-link .btn {
    width: 100%; /* Makes the button fit the container */
    padding: 5px 10px; /* Adjust padding to reduce button size if necessary */
    white-space: nowrap; /* Prevents text from wrapping */
    overflow: hidden; /* Hides overflow text */
    text-overflow: ellipsis; /* Adds an ellipsis for overflow text */
}
/* Custom styles for the FullCalendar popover */
.fc-popover.fc-more-popover {
    /* Bootstrap shadow utility for subtle shadow */
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;

    /* Bootstrap spacing utilities for padding */
    padding: 1rem!important;

    /* Custom background color for better visibility */
    background-color: #f8f9fa!important;

    /* Custom font size for better readability */
    font-size: 0.9rem!important;

    /* Bootstrap border-radius utility for rounded corners */
    border-radius: 0.25rem!important;
}

/* 00---------------------------00 */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h1 {
    font-weight: 600;
    font-size: 1.5rem;
}

body {
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    display: flex;
}

.main {
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
    background-color: #fafbfe;
}

#sidebar {
    width: 70px;
    min-width: 70px;
    z-index: 1000;
    transition: all .25s ease-in-out;
    background-color: #0e2238;
    display: flex;
    flex-direction: column;
}

#sidebar.expand {
    width: 260px;
    min-width: 260px;
}

.toggle-btn {
    background-color: transparent;
    cursor: pointer;
    border: 0;
    padding: 1rem 1.5rem;
}

.toggle-btn i {
    font-size: 1.5rem;
    color: #FFF;
}

.sidebar-logo {
    margin: auto 0;
}

.sidebar-logo a {
    color: #FFF;
    font-size: 1.15rem;
    font-weight: 600;
}

#sidebar:not(.expand) .sidebar-logo,
#sidebar:not(.expand) a.sidebar-link span {
    display: none;
}

.sidebar-nav {
    padding: 2rem 0;
    flex: 1 1 auto;
}

a.sidebar-link {
    padding: .625rem 1.625rem;
    color: #FFF;
    display: block;
    font-size: 0.9rem;
    white-space: nowrap;
    border-left: 3px solid transparent;
}

.sidebar-link i {
    font-size: 1.1rem;
    margin-right: .75rem;
}
.fc-content {
    /* background-color: #C760F0; */
    margin: 1px !important;

    border-radius: 3px;
    /* box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); */
    padding: 3px;
    color: #333;
    font-family: "Arial", sans-serif;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}



.sidebar-item {
    position: relative;
}

#sidebar:not(.expand) .sidebar-item .sidebar-dropdown {
    position: absolute;
    top: 0;
    left: 70px;
    background-color: #0e2238;
    padding: 0;
    min-width: 15rem;
    display: none;
}

#sidebar:not(.expand) .sidebar-item:hover .has-dropdown+.sidebar-dropdown {
    display: block;
    max-height: 15em;
    width: 100%;
    opacity: 1;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all .2s ease-out;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(45deg);
    transition: all .2s ease-out;
}
