.pointing-dialog {
    position: absolute;
    z-index: 1000;
    width: 200px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    display: none; /* Hidden by default */
}
.fc-content:hover.fc-day {
    filter: brightness(715%);
    cursor: pointer;
    -webkit-filter: brightness(715%);
}
.pointing-dialog::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: #ccc transparent transparent transparent;
}
.event-title {
    margin-bottom: 0.5rem; /* Adjusts spacing below the title */
}

.hr {
    border-top: 2px solid #bb0303; /* Customize the line color and thickness */
}
.pointing-dialog-content {
    margin: 5px;
}
.fc-priorityFilter-button {
    background-image: url("tg1.png");
    color: transparent; /* Hide text color */
    background-size: 60% 40%;
    transition: none !important; /* Disable transition */
    background-size: cover; /* Ensure the image covers the button */
    background-position: center; /* Center the background image */
    height: 30px; /* Adjust based on your image size */
    width: 40px; /* Adjust based on your image size */
    outline: none; /* Remove outline on focus/click */
    border: none; /* Remove border */
}

/* Clicked state for the button, changing to a different filter image */
.fc-priorityFilter-button-clicked.fc-priorityFilter-button-clicked {
    background-image: url("tg2.png");


    transition: none !important;
    outline: none !important;
    border: 0px !important;
    padding: 0px !important;

}
.fc-priorityFilter-button {
    transition: background-color 100s ease-out;
    /*Example: Reducing the speed to 0.3 seconds */;
    -webkit-transition: background-color 100s ease-out;
    -moz-transition: background-color 100s ease-out;
    -ms-transition: background-color 100s ease-out;
    -o-transition: background-color 100s ease-out;
}


.fc-priorityFilter-button:hover {
    background-image: url("tg2.png");
    background-color: white;
    /*Removebackgroundcolor*/transition: none !important;
    /*Keeptransitiondisabled*/outline: none !important;
    /*Ensureoutlineisremovedonhover*/border: none !important;
    /*Ensureborderisremoved*/
    transition: all 500ms ease-in-out;
}


.btn-custom-width {
    align-items: center;
    min-width: 100px; /* Ensures button does not shrink below this width */
    width: 100px; /* Sets a fixed width for consistency */
    padding: 0.375rem 0.75rem; /* Adjust padding if necessary, this is Bootstrap's default for btn-sm */
    white-space: nowrap; /* Prevents text from wrapping */
    overflow: hidden; /* Keeps the content from overflowing */
    text-overflow: ellipsis; /* Adds an ellipsis if the text overflows */
    display: flex;
    justify-content: center; /* Centers the buttons horizontally */
    align-items: center; /* Aligns the buttons vertically, useful if they are in a flex container with flex-direction: column; */
    flex-direction: row; /* Ensures the buttons are laid out in a row */
    gap: 10px;
}
.fc-priorityFilter-button-active {
    background-color: #007bff; /* Example: a blue color when active */
    color: white; /* White text color */
}
.fc-toolbar h2 {
    font-size: 24px; /* Larger font size for the title */
    color: #333333; /* Darker color for the title */
}

.center-parent-calendar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh; /* Adjust or remove min-height as needed */
}

.calendar {
    background-color: #ffffff; /* White background for better contrast */
    border: 1px solid #dddddd; /* Light grey border for better visibility */
    border-radius: 5px; /* Slightly rounded corners */
    padding: 20px; /* Some padding around the calendar */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Subtle shadow for a lifted effect */
}

.fc-day-header {
    background-color: #4d576c; /* Your desired header background color */
    color: #fff; /* Your desired text color */
    padding: 8px !important; /* Increase left padding */
    padding-right: 10px; /* Increase right padding */
}

span.fc-day-number {
    font-family: "Roboto", sans-serif; /* Ensures Roboto is used, with a generic sans-serif as a fallback */
    color: #4d5782; /* Sets the color to a light grey */
    text-align: left; /* Aligns the text to the left */
    display: block; /* Makes span behave like a block element, allowing text-align to work */
    width: 90%; /* Ensures the span takes the full width of its container */
    font-size: 16px; /* Sets the font size to 16px */
    font-weight: bold; /* Makes the text bold */
}
button {
    background-color: white;
}

.fc-button {
    background-color: white !important;
}
.fc-button {
    transition: background-color 0.3s ease, box-shadow 0.2s ease; /* Smooth transition for background and shadow */
    border: none; /* Removes border for a cleaner look */
    color: #640808; /* Ensures text color is white for better contrast */
    padding: 10px 20px; /* Adjust padding for a better button size */
    border-radius: 5px; /* Adds rounded corners */
}
td.fc-day {
    margin: 2px; /* Adds a small margin around each day cell */
    border-top: 1px solid #959292; /* Keeps the top border */
    border-bottom: 1px solid #959292; /* Keeps the bottom border */
    border-left: #959292; /* Hides the left border */
    border-right: #959292; /* Hides the right border */
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow for depth */
}
.fc-button:hover {
    background-color: #fb0723!important; /* Adjusted to orange color */

    color: #fff !important; /* Keeps text color white for readability */
}
/* ---fc-button */
.fc-button {
    position: relative;
    font-size: 16px;
    color: #000000;
    text-decoration: none;
    display: inline-block;
    border: 3px solid #fff;
    border-radius: 5px;
    padding: 20px;
    margin-top: 25px;
    overflow: hidden;
    font-family: Arial, sans-serif;
    font-weight: 300;
    transition: all 200ms ease-in-out;
    background-color: #ffffff;
    /*Ensuredefaultbackgroundiswhite*/:;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
}

.fc-button-clicked {
    background-color: #f15e6e !important; /* Red color */
    color: #000000 !important; /* Change text color to white for better visibility */
}
.fc-month-button,.fc-agendaWeek-button,.fc-agendaDay-button{
    background-color: white !important;
    background-color: #f15e6fb9!important; /* Red color */
    color: rgb(43, 40, 40) !important; /* Change text color to white for better visibility */
}

.fc-event {
    border: none !important;
    background-color: #ffffff;
}

.fc-button span {
    position: relative;
    z-index: 1;
}

.fc-button::after,
.fc-button::before {
    content: "";
    position: absolute;
    transition: all 300ms ease-in-out;
    box-sizing: border-box;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
}

.fc-button::after {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #022954;
    opacity: 0;
    pointer-events: none;
}

.fc-button::before {
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
    margin-left: -100px;
    margin-top: -100px;
    border-color: #f15e6e !important;
    color: #000000;
    border-style: solid;
    border-width: 1px;
    border-radius: 100px;
    transform-origin: center center;
    z-index: -1;
}

.fc-button:active::after,
.fc-button.fc-button-clicked::after {
    opacity: 1; /* Becomes fully opaque when button is clicked */
    background-color: #f15e6e; /* Change to red when clicked */
}

.fc-button:hover::before {
    border-width: 100px;
    transition: all 500ms ease-in-out;
    /*Applythesamedurationforaconsistentanimationspeed*/:;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
}
/* --- */
.fc-more {
    color: red !important;
}
.fc-unthemed td.fc-today .fc-day-number {
    position: relative; /* Ensure the .fc-day-number is positioned relatively */
    color: white !important; /* Text color */
    /* padding: 12px 2px 2px 10px; */
    z-index: 2; /* Ensure text is above the pseudo-element */
    /* Add background color for better visibility */
}

.fc-unthemed td.fc-today .fc-day-number::after {
    content: "";
    position: absolute;
    left: -5px; /* Shift to the left */
    top: 0;
    width: calc(25% + 5px); /* Adjust width to compensate for the shift */
    height: 100%;
    background-color: #f15e6e;
    z-index: -1;
    box-sizing: border-box;
    border-radius: 6px;
}

.fc-unthemed td.fc-today {
    background: inherit;
    border: none;
}
.sidebar-link .btn {
    width: 100%; /* Makes the button fit the container */
    padding: 5px 10px; /* Adjust padding to reduce button size if necessary */
    white-space: nowrap; /* Prevents text from wrapping */
    overflow: hidden; /* Hides overflow text */
    text-overflow: ellipsis; /* Adds an ellipsis for overflow text */
}
/* Custom styles for the FullCalendar popover */
.fc-popover.fc-more-popover {
    /* Bootstrap shadow utility for subtle shadow */
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;

    /* Bootstrap spacing utilities for padding */
    padding: 1rem !important;

    /* Custom background color for better visibility */
    background-color: #f8f9fa !important;

    /* Custom font size for better readability */
    font-size: 0.9rem !important;

    /* Bootstrap border-radius utility for rounded corners */
    border-radius: 0.25rem !important;
}

/* 00---------------------------00 */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h1 {
    font-weight: 600;
    font-size: 1.5rem;
}

body {
    font-family: "Poppins", sans-serif;
}

.wrapper {
    display: flex;
}

.main {
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
    background-color: #fafbfe;
}

#sidebar {
    width: 70px;
    min-width: 70px;
    z-index: 1000;
    transition: all 0.25s ease-in-out;
    background-color: #0e2238;
    display: flex;
    flex-direction: column;
}

#sidebar.expand {
    width: 260px;
    min-width: 260px;
}

.toggle-btn {
    background-color: transparent;
    cursor: pointer;
    border: 0;
    padding: 1rem 1.5rem;
}

.toggle-btn i {
    font-size: 1.5rem;
    color: #fff;
}

.sidebar-logo {
    margin: auto 0;
}

.sidebar-logo a {
    color: #fff;
    font-size: 1.15rem;
    font-weight: 600;
}

#sidebar:not(.expand) .sidebar-logo,
#sidebar:not(.expand) a.sidebar-link span {
    display: none;
}

.sidebar-nav {
    padding: 2rem 0;
    flex: 1 1 auto;
}

a.sidebar-link {
    padding: 0.625rem 1.625rem;
    color: #fff;
    display: block;
    font-size: 0.9rem;
    white-space: nowrap;
    border-left: 3px solid transparent;
}

.sidebar-link i {
    font-size: 1.1rem;
    margin-right: 0.75rem;
}
.fc-content {
    /* background-color: #C760F0; */
    margin: 2px !important;

    border-radius: 3px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    padding: 3px;
    color: #333;
    font-family: "Arial", sans-serif;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
.fc-button-group {
    background-color: white !important;
}

.sidebar-item {
    position: relative;
}

#sidebar:not(.expand) .sidebar-item .sidebar-dropdown {
    position: absolute;
    top: 0;
    left: 70px;
    background-color: #0e2238;
    padding: 0;
    min-width: 15rem;
    display: none;
}

#sidebar:not(.expand) .sidebar-item:hover .has-dropdown + .sidebar-dropdown {
    display: block;
    max-height: 15em;
    width: 100%;
    opacity: 1;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 0.075rem 0.075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all 0.2s ease-out;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(45deg);
    transition: all 0.2s ease-out;
}

/* ---------------------------- */
/* ---------------------------- */
.fc-content:hover {
    filter: brightness(715%);
    cursor: pointer;
    -webkit-filter: brightness(715%);
    padding: 1%;
}


.pointing-dialog {
    position: absolute;
    display: none;
    z-index: 1000;
    background-color: #f8f9fa; /* Match the background color */
    border: 1px solid #ddd; /* Optional: Add border to make it stand out */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add slight shadow */
    width: 300px; /* Adjust as needed */
    opacity: 0; /* Start with opacity 0 */
    transform: translateY(-20px); /* Slide up effect */
    transition: opacity 0.3s ease, transform 0.3s ease; /* Smooth transition */
}

.pointing-dialog-content {
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margin */
    width: 100%; /* Adjust as needed */
}

.container-fluid {
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margin */
}

.card {
    border: none; /* Remove border */
    margin: 0; /* Remove margin */
    box-shadow: none; /* Remove shadow */
    width: 100%; /* Adjust as needed */
}

.card-body {
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margin */
}

.card-footer {
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margin */
    border: none; /* Remove border */
    box-shadow: none; /* Remove shadow */
}

.card-title {
    text-align: center; /* Center align the title */
}

.event-details p {
    margin-bottom: 0.5rem; /* Space between event details */
}
